Source: ros-indigo-pmb2-hardware-gazebo
Section: misc
Priority: extra
Maintainer: PAL Robotics <info@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), gazebo2, ros-indigo-angles, ros-indigo-catkin, ros-indigo-control-toolbox, ros-indigo-gazebo-ros-control, ros-indigo-hardware-interface, ros-indigo-joint-limits-interface
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-pmb2-hardware-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gazebo2, ros-indigo-control-toolbox, ros-indigo-gazebo-ros-control, ros-indigo-hardware-interface, ros-indigo-joint-limits-interface
Description: Gazebo plugin to control a PMB2 robot in simulation.
