Source: ros-indigo-pmb2-controller-configuration-gazebo
Section: misc
Priority: extra
Maintainer: PAL Robotics <info@pal-robotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-pmb2-controller-configuration-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Gazebo-specifig launch files and scripts needed to configure the controllers of the PMB2 robot in simulation.
